.DS_Store
Thumbs.db

logs/
.log
tmp/
temp/
.cache
xmls/

vendor/
node_modules/

composer.lock
.env
.env.local
.env.*.local
PHPUnit

phpunit.xml
phpunit.xml.dist
/build/
coverage/
*.cover
*.coverage
/.phpunit.result.cache

.idea/
.vscode/
*.sublime-workspace
*.sublime-project

composer.phar
/.composer/

*.phar

dist/
build/
public/build/
public/assets/

storage/
uploads/
*.sqlite
*.sqlite3

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnp.js
var/

.env
.env.testing
/storage/.key
/public/hot
/public/storage
/storage/debugbar
/storage/.log

*.key
*.pem
*.cert

coverage/